$purple-color: #BA265D;
$color-light: #F8F8F8;

$color-lighter-gray: #eee;
$color-light-gray: #ccc;
$color-white: #fff;
$color-black: #000;
$color-dark-gray: #aaa;
$color-footer: #252525;

$color-medium-gray: rgb(209, 205, 205);